 
   .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30,0.7), rgba(4, 9, 30,0.7)),url("../img/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img{
    width: 150px;
  }
  
  .nav-links{
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  
  }
  
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #333;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }





.pricing-plan{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    overflow: hidden;
    font-family:'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 1.5;
    margin: 15px;
}


.pricing-plan--highlighted{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.pricing-plan__header{
    padding: 25px;
    background: #009578;
    color: #fff;
}

.pricing-plan-title,.pricing-plan__summary{
    margin: 0;
    text-align: center;
}


.pricing-plan-title{
    font-size: 1.5em;
    font-weight: 400;
}

.pricing-plan__summary{
    font-size: 0.9em;
    font-weight: bold;
    color:#fff;
}

.pricing-plan__description{
    padding: 25px;
}

.pricing-plan__list{
    padding:0;
    margin: 0;
}

.pricing-plan__feature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}


.pricing-plan__feature:not(:last-child) {
    margin-bottom: 0.5em;
}


.pricing-plan__feature::before{
    content: "\2714";
    color:#009578;
    left:0;
    position: absolute;
}

hr{
    position: relative;
    top: 1px;
    border:none;
    height: 2px;
    background: #999;
    width: 70%;
 
}


.pricing-plan__action {
    padding: 25px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.pricing-plan__button{
    display: inline-block;
    margin: 75px;
    margin-top: 2px;
    padding: 8px 20px;
    text-decoration: none;
    color:#009578;
    background: #fff;
    border: 1px solid #009578;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.pricing-plan__button:hover{
    background: #009578;
    color: #fff;
}


.pricing-plan__cost {
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 2em;
}

.pricing-plan__text{
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;

}


.pricing-plan__special--text{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #007c64;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
}

.pricing-plan-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



@media screen and (max-width: 736px) {
    .pricing-plan-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .pricing-plan .pricing-plan--highlighted{
        margin-top: 20px;
        margin-bottom: 30px;
        padding-top: 50px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    }

    .pricing-plan__header{
        padding: 15px;
        background: #009578;
        color: #fff;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}




/* Footer Section */


#footer{
    margin-bottom: 10px;
}
.title-footer h4{
    color:#021a17;
    /* margin-top: 0 auto; */
    padding: 40px 0;
    text-align: center;
    font-family: 'Itim';
    font-size: 800;
    font-weight: 700;
}
#footer hr{
        height: 1px;
        width: 50%;
        border:none;
        color: #000;
        background-color: #000;
}
.fox{
    text-align: center;
    color:#021311;
}
.fox a{
    text-decoration: none;
    color:#011b19;
    cursor: pointer;
}
.fox p{
    font-size: 700;
    font-weight: bold;
    cursor: pointer;
}
.link{
     text-align: center;
}
.link .fa{
    height:40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid ,#04685e;
    margin: 30px 5px 0;
    color: #04554d;
    cursor: pointer;
    margin-bottom: 15px;
    transition: .5s;
}

.link .fa:hover{
    background:rgb(78, 3, 47);
      color:#fff;
      transform:translateY(-7px);
}